:root {
    --width-box : 100px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: cornsilk;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 5%;
}

.arts{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container__flex {
    box-shadow: -7px 7px 30px 0px rgba(128, 128, 128, 0.603);
    border: black solid 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    /* flex-direction: column; */
}

.category{
    /* background-color: rgba(255, 235, 205, 0.733); */
    width: 100%;
    height: max-content;
    margin: 50px 0;
}
#box,#box2,#box3,#box4,#box5,#box6 {
    border: black 4px solid;
    background-color: gray;
    /* margin: 10px 10px; */
    height: var(--width-box);
    width: var(--width-box);
}

.container__grid{
    box-shadow: -7px 7px 30px 0px rgba(128, 128, 128, 0.603);
    border: black solid 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 40px;
    
}

button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    background-color: rgb(31, 30, 30);
}