:root {
    --width-box : 100px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 5%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;
    margin: 20px 0;
    border-radius: 20px;
    border: black solid 10px;
    padding: 40px 50px;
    background: rgba(245, 222, 179, 0.322);
}

.intro > ul{
    margin: 10px 20px;
    font-size: 18px;
}

.arts{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container__flex {
    max-height: 70vh;
    box-shadow: -7px 7px 30px 0px rgba(128, 128, 128, 0.603);
    border: black solid 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    /* margin: 30px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 100px;
    /* flex-direction: column; */
}

.category{
    /* background-color: rgba(255, 235, 205, 0.733); */
    width: 100%;
    height: max-content;
    margin: 50px 0;
}
#box,#box2,#box3,#box4,#box5,#box6 {
    border: black 4px solid;
    background-color: gray;
    /* margin: 10px 10px; */
    height: var(--width-box);
    width: var(--width-box);
}

.container__grid{
    box-shadow: -7px 7px 30px 0px rgba(128, 128, 128, 0.603);
    border: black solid 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 70vh;
    /* padding: 50px; */
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 40px;
    
}

button{
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: 3px rgba(128, 128, 128, 0) inset;
}

button:hover{
    cursor: pointer;
    background-color: rgb(39, 38, 38);
}

button:active{
    background-color: black;
    border: 3px rgb(255, 255, 255) inset;
}

.container__jsflex{
    box-shadow: -7px 7px 30px 0px rgba(128, 128, 128, 0.603);
    border: black solid 10px;
    width: 100%;
    height: max-content;
    background-color: white;
    margin: 30px 0;
    display: flex;
    align-content:center;
    /* align-items: center; */
    padding: 50px;
    /* justify-content: center; */
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 70vh;
}


#container__shapes{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: white;
    border: black solid 10px;
}

#container__triangle{
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: white;
    border: black solid 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    /* padding-right: -200px; */
    /* padding:0 20px; */
}

.triangle-bottomright{
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-right: 50px solid transparent;
}

.triangle-bottomleft{
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-left: 50px solid transparent;
    
}

footer{
    text-align: center;
}